$color-primary: #f4e041;
$color-primary-hover: #ffe302;
$color-secondary: #00bdd3;
$color-grey-background: #f8f8f8;
$color-grey-disabled: #b4b4b4;

$color-error: #cb3d40;
$color-font-primary: rgba(0, 0, 0, 0.87);
$color-font-secondary: #7e7e7e;
$color-border: #d0cfcf;

$basic-transition: all 330ms ease-in-out;

$border-radius-sm: 4px;
$border-radius-md: 10px;
$border-radius-lg: 80px;
$border-radius-round: 50%;

$bp-small: 360px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-largest: 2560px;
