@import 'styles/sass/mixins';
@import 'styles/sass/variables';

.hero {
  color: white;
  padding-top: 0;

  &__contentWrapper {
    margin: 0 auto;
    padding: 40px 20px 71px 20px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../images//pexels-alexandr-podvalny-1227513.jpeg');
    background-size: 1240px;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__text {
    margin-top: 21px;
  }

  &__btn {
    @include main-button;
    margin-top: 32px;
    color: $color-font-primary;
  }
}
