@import 'styles/sass/mixins';
@import 'styles/sass/variables';

.hero {
  color: white;
  padding-top: 0;

  &__bg {
    margin: 0 auto;
    max-width: 1170px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../images//pexels-alexandr-podvalny-1227513.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;

    @media only screen and (min-width: $bp-small) {
      background-size: 1240px 845px;
    }

    @media only screen and (min-width: $bp-medium) {
      background-size: 2645px 820px;
    }

    @media only screen and (min-width: $bp-large) {
      background-size: 3510px 1065px;
    }
  }

  &__contentWrapper {
    margin: 0 auto;
    text-align: center;

    @media only screen and (min-width: $bp-small) {
      padding: 40px 0px 71px 0px;
      max-width: 320px;
    }

    @media only screen and (min-width: $bp-medium) {
      padding: 89px 0px 88px;
      max-width: 380px;
    }

    @media only screen and (min-width: $bp-large) {
      padding: 164px 0px 163px;
    }
  }

  &__text {
    margin-top: 21px;
  }

  &__btn {
    @include main-button;
    margin-top: 32px;
    color: $color-font-primary;
  }
}
