@import 'styles/sass/variables';

.container {
  margin: 0 auto;
  padding: 0px 16px;
  min-width: 360px;
  text-align: center;

  @media only screen and (min-width: $bp-medium) {
    padding: 0px 32px;
  }

  @media only screen and (min-width: $bp-large) {
    max-width: 1170px;
    padding: 0px 60px;
  }

  @media only screen and (min-width: $bp-largest) {
    padding: 0px 0px;
  }
}
